.hideChoose {
  height: 0 !important;
  opacity: 0;
}

.hiddenScroll::-webkit-scrollbar {
  display: none;
}

.showMenu {
  transform: translateX(0) !important;
  transition: all linear 0.3s;
}

.showOverlay {
  visibility: visible !important;
  opacity: 0.6 !important;
  transition: all linear 0.3s;
}

.hideMenu {
  transform: translate(-100%);
  transition: all linear 0.3s;
}

.hideOverlay {
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.3s;
}

.descShort {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
